<section>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span>Chat</span>
                    <span class="chat-current-user"></span>
                </div>
                <div class="panel-body">
                    <div id="about" class="nano chat">
                        <div class="nano-content description">
                            <div class="row chat-line">
                                <span class="chat-user col-xs-2 col-md-1"></span>
                                <span class="chat-msg col-xs-6 col-md-8"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="form-inline">
                <input style="width:80%;" type="text" class="form-control .col-lg-4" id="message" placeholder="Send message">
                <button type="submit" class="pull-right col-lg-2 btn btn-default">Send</button>
            </form>
        </div>
    </div>
</section>